$color-primary-blue: hsl(233, 26%, 24%);
$color-primary-green: hsl(136, 65%, 51%);
$color-primary-lightblue: hsl(192, 70%, 51%);

$color-grey-blue: hsl(233, 8%, 62%);
$color-grey: hsl(220, 16%, 96%);
$color-grey-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$color-primary-lightblue-2: hsl(200, 84%, 51%);
