$color-primary-blue: hsl(233, 26%, 24%);
$color-primary-normal-blue: #2e56aa;

$color-primary-green: hsl(136, 94%, 45%);

$color-secondary-green: #7ed56f;
$color-secondary-green-light: #55c57a;
$color-secondary-green-dark: #28b485;

// $color-primary-lightblue: hsl(192, 70%, 51%);
$color-primary-lightblue: #2b71b5;
$color-primary-lightblue-2: #19a5eb;

$color-secondary-orange-light: #ffb900;
$color-secondary-orange-dark: #ff7730;

$color-tertiary-blue-light: #2998ff;
$color-tertiary-blue-dark: #5643fa;

$color-grey-blue: #9698a6;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey: hsl(220, 16%, 96%);
$color-grey-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$color-teal-green: rgb(52, 197, 180);

$color-black: #000;

$default-font-size: 1.6rem;
