.form {
	&__login {
		place-self: center;
		margin-left: 3rem;
		margin-top: -10rem;
		@include respond(tab-land) {
			margin-top: -15rem;
		}
		@include respond(tab-land) {
			margin-top: -25rem;
		}
	}

	&__register {
		width: 100%;
		height: 100%;
		&--heading {
			font-size: 3.5rem;
			color: $color-primary-blue;
			margin-bottom: 3rem;
		}
	}

	&__item {
		width: 35rem;
		margin-bottom: 1.5rem;
		position: relative;
		height: 5rem;
		overflow: hidden;
		@include respond(tab-land) {
			width: 30rem;
			height: 4.5rem;
		}
		&--input {
			width: 100%;
			height: 100%;
			color: $color-grey-dark;
			padding-top: 20px;
			border: none;
			background: transparent;
			outline: none;
		}
		&--input:focus + &--label &--label--span,
		&--input:valid + &--label &--label--span {
			transform: translateY(-120%);
			font-size: 1.4rem;
			color: #5fa6d3;
		}
		&--input:focus + &--label::after,
		&--input:valid + &--label::after {
			transform: translateX(0);
		}
		&--label {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: $color-grey-dark;
			pointer-events: none;
			border-bottom: 1px solid black;

			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				border-bottom: 3px solid $color-primary-lightblue-2;
				bottom: -2px;
				left: 0;
				transform: translateX(-100%);
				transition: transform 0.3s ease;
			}

			&--span {
				position: absolute;
				bottom: 3px;
				left: 0px;
				transition: all 0.3s ease;
				font-size: 1.6rem;
			}
		}
		&--signup-dob {
			.date {
				color: transparent;
			}
		}
	}

	&__btn {
		// padding: 1rem 2.5rem;
		font-size: 2.3rem;
		color: $color-primary-lightblue;
		display: inline-block;
		text-decoration: none;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $color-primary-lightblue;
		border-left: 1px solid $color-primary-lightblue;
		padding: 0.6rem;
		transition: all 0.3s;
		margin-top: 2rem;
		border-radius: 3px;
		&:hover {
			background-color: $color-primary-lightblue;
			color: #fff;
			box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
			transform: translateY(-2px);
		}
		&:focus {
			transform: translateY(0);
		}
	}

	&--heading {
		font-size: 3rem;
		display: inline-block;
		font-weight: 700;
		margin-bottom: 1.5rem;
		background-image: linear-gradient(
			to bottom right,
			rgba($color-primary-blue, 0.8),
			rgba($color-primary-lightblue, 0.8)
		);
		-webkit-background-clip: text;
		//  -moz-background-clip: text;
		color: transparent;
		letter-spacing: 2px;
		transition: all 0.2s;

		&:hover {
			transform: scale(1.1);
			text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
		}
	}
}
