// The hero section of the site page
.hero {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0 0 14rem;
	align-items: center;
	overflow: hidden;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.7)
		),
		url(../images/Taieri.svg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	&__message {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&--heading {
			font-size: 5.5rem;
			color: $color-primary-blue;
			line-height: 1.1;
			margin-bottom: 1.5rem;
			span {
				font-size: 7rem;
				color: $color-primary-lightblue;
				font-weight: 700;
			}
		}
		&--body {
			font-size: 1.8rem;
			width: 90%;
			color: $color-grey-blue;
			margin-bottom: 3rem;
		}
	}
	&__button {
		margin-left: -0.2rem;
	}
	&__image {
		height: 100%;
		width: 60%;
		z-index: 10;
	}

	&__btn {
		padding: 1.2rem 2rem;
	}
}
