.info {
	&__card {
		height: 40rem;
		display: grid;
		grid-template-rows: 1.5fr auto;
		border-radius: 0.7rem;
		overflow: hidden;
		background-color: $color-white;
		box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
		transition: all 0.3s ease;
		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
		}

		&--top {
			background-position: center;
			background-size: cover;
			position: relative;

			&-1 {
				background-image: linear-gradient(
						to right bottom,
						rgba($color-primary-blue, 0.6),
						rgba($color-primary-lightblue, 0.7) 60%
					),
					url(../images/dart.jpg);
				// padding: 2rem 0;
			}

			&-2 {
				background-image: linear-gradient(
						to right bottom,
						rgba($color-secondary-green-light, 0.7),
						rgba($color-secondary-green-dark, 0.4)
					),
					url(../images/testing.jpg);
			}

			&-3 {
				background-image: linear-gradient(
						to right bottom,
						rgba($color-secondary-orange-light, 0.6),
						rgba($color-secondary-orange-dark, 0.5)
					),
					url(../images/record.jpg);
			}

			&-4 {
				background-image: linear-gradient(
						to right bottom,
						rgba($color-primary-blue, 0.7),
						rgba($color-tertiary-blue-dark, 0.5)
					),
					url(../images/suggestion.jpg);
			}
		}
		&--header {
			position: absolute;
			bottom: 2.9rem;
			right: 0.8rem;
			font-size: 2.5rem;
			font-weight: 300;
			text-align: right;
			color: $color-grey-light;
			text-transform: uppercase;

			width: 80%;
			&-1 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-primary-lightblue, 0.85),
					rgba($color-primary-blue, 0.8)
				);
				padding: 1.2rem 2.3rem;
				box-decoration-break: clone;
				backface-visibility: hidden;
			}
			&-2 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-secondary-green-light, 0.5),
					rgba($color-secondary-green-dark, 0.7)
				);
				padding: 1.2rem 2.5rem;
				box-decoration-break: clone;
				backface-visibility: hidden;
			}
			&-3 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-secondary-orange-light, 0.75),
					rgba($color-secondary-orange-dark, 0.8)
				);
				padding: 1.2rem 2.5rem;
				box-decoration-break: clone;
				backface-visibility: hidden;
			}
			&-4 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-primary-blue, 0.7),
					rgba($color-tertiary-blue-dark, 0.6)
				);
				padding: 1.2rem 2.5rem;
				box-decoration-break: clone;
				backface-visibility: hidden;
			}
		}
		&--body {
			text-align: left;
			padding: 3rem 2rem;
			font-size: 1.5rem;
			color: $color-grey-blue;
			span {
				color: $color-grey-dark;
				font-weight: 600;
				font-size: 1.6rem;
			}
		}
	}
}
