@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
::selection {
	background-color: $color-primary-blue;
	color: $color-grey-light;
}
html {
	font-size: 62.5%; // 10/16px = 0.625px = 62.5%.
	scroll-behavior: smooth;

	@include respond(tab-land) {
		//width<1200
		font-size: 56.25%; // 1rem = 9px; 9/16= 56.25%
	}

	@include respond(tab-port) {
		// width < 900
		font-size: 50%; // 1rem = 8px; 8/16 = 50%;
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem =12px; 12/16 = 75%
	}
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	background-color: $color-grey-light;
}
