// The hero section of the site page
.hero {
	&__message {
		&--heading {
			font-size: 5.5rem;
			color: $color-primary-blue;
			line-height: 1.1;
			margin-bottom: 1.5rem;
			font-weight: 300;
			span {
				font-size: 7rem;
				color: $color-primary-green;
			}
		}
		&--body {
			font-size: 1.8rem;
			color: $color-grey-blue;
			margin-bottom: 4rem;
		}
	}
}

.info {
	&__heading {
		font-size: 3.7rem;
		margin-bottom: 5rem;
		margin-top: -5rem;
		color: $color-primary-blue;
	}
}

.signup {
	&__heading {
		margin-bottom: 4rem;
		color: $color-white;
		font-size: 4rem;
		span {
			color: $color-primary-lightblue;
		}
	}
	&__subheading {
		font-size: 2.5rem;
		color: $color-grey;
		margin-bottom: 4rem;
		span {
			color: $color-primary-lightblue;
			font-size: 2rem;
		}
	}
}
