// Setting up layout of each section in the positivse results page

//Oerall containing grid
.grid-positive {
	display: grid;
	grid-template-rows: 70vh;
	grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 25rem)) minmax(
			4rem,
			1fr
		);
}

.diagnosis {
	&__header {
		grid-row: 1/2;
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: 7rem calc(70vh - 7rem);
	}

	&-hero {
		grid-row: 2/3;
		grid-column: 1/-1;
		display: flex;
		justify-content: space-between;
		padding: 2rem 0 0 14rem;
		align-items: center;
		overflow: hidden;
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
			url(../images/diagnosis.jpg);
		background-attachment: fixed;
		background-position: bottom;
		background-size: cover;
		&__message {
			&--heading {
				font-size: 7rem;
				color: $color-grey;
				span {
					color: $color-primary-lightblue-2;
				}
			}
			&--body {
				a:link,
				a:visited {
					text-decoration: none;
					color: $color-white;
					font-size: 1.5rem;
					display: inline-block;
					text-transform: uppercase;
					transition: all 0.3s ease;
					padding: 0.5rem 1rem;
				}
				a:hover,
				a:active {
					transform: translateX(-3px) translateY(-3px);
					background-color: $color-primary-blue;
					color: $color-grey-light;
					box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}

.flex__form {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2rem 3rem;

	@include respond(phone) {
		flex-direction: column;
		align-items: center;

		justify-content: center;
	}
}

.section__diagnosis {
	padding: 6rem 14rem;
	grid-column: 1/-1;

	background-image: linear-gradient(
			rgba($color-grey, 0.5),
			rgba($color-grey, 0.5)
		),
		url(../images/Taieri.svg);

	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	text-align: center;
}

.first-half {
	margin-left: 2rem;
	background: rgba($color-white, 0.9);
	padding: 1.5rem 1.8rem;
	box-shadow: 0 1rem 1.5rem rgba($color-black, 0.3);
	@include respond(thousand) {
		margin-right: 25rem;
	}
	@include respond(phone) {
		margin-right: 0;
		margin-left: 0;
	}

	& > .form__item {
		margin-bottom: 3.5rem;
	}
}

.second-half {
	padding: 1.5rem 1.8rem;
	margin-left: -20rem;
	background: rgba($color-white, 0.9);
	box-shadow: 0 1rem 1.5rem rgba($color-black, 0.3);
	& > .form__item {
		margin-bottom: 3.5rem;
	}

	@include respond(phone) {
		margin-left: 0;
	}
}
